{{- $op := .Values.cnpg.operator -}}
{{- $override := "" -}}
{{- with index .Values "cloudnative-pg" -}}
  {{- with .namespaceOverride -}}
    {{- $override = . -}}
  {{- end -}}
{{- end -}}
{{- $ns := or $op.namespace $override -}}
{{- if and $op.createNamespace $ns (ne $ns "") -}}
apiVersion: v1
kind: Namespace
metadata:
  name: {{ $ns }}
  labels:
{{- include "interweb.labels" (dict "root" . "name" $ns "component" "database-operator") | nindent 4 }}
{{- end }}
