{{- $root := . -}}
{{- $cfg := .Values.cnpg -}}
{{- if and $cfg.cluster.enabled ($root.Capabilities.APIVersions.Has "postgresql.cnpg.io/v1") -}}
{{- $cluster := $cfg.cluster -}}
{{- $superSecret := $cfg.secrets.superuser -}}
{{- $appSecret := $cfg.secrets.app -}}
{{- $image := printf "%s:%s" $cluster.image.repository $cluster.image.tag -}}
apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: {{ $cluster.name }}
  namespace: {{ $cfg.namespace.name }}
  labels:
{{- include "interweb.labels" (dict "root" $root "name" $cluster.name "component" "database") | nindent 4 }}
spec:
  instances: {{ $cluster.instances }}
  imageName: {{ $image | quote }}
  superuserSecret:
    name: {{ $superSecret.name }}
  storage:
    size: {{ $cluster.storage.size | quote }}
    {{- if $cluster.storage.storageClass }}
    storageClass: {{ $cluster.storage.storageClass | quote }}
    {{- end }}
{{- if $cluster.resources }}
  resources:
{{ toYaml $cluster.resources | nindent 4 }}
{{- end }}
{{- if $cluster.postgresql }}
  postgresql:
{{ toYaml $cluster.postgresql | nindent 4 }}
{{- end }}
  monitoring:
    enablePodMonitor: {{ $cluster.monitoring.enablePodMonitor }}
  bootstrap:
    initdb:
      database: {{ $cluster.bootstrap.database | quote }}
      owner: {{ $superSecret.username | quote }}
      {{- if $cluster.bootstrap.enableDataChecksums }}
      dataChecksums: true
      {{- end }}
      encoding: {{ $cluster.bootstrap.encoding | quote }}
      localeCollate: {{ $cluster.bootstrap.localeCollate | quote }}
      localeCType: {{ $cluster.bootstrap.localeCType | quote }}
{{- $scratch := dict "items" (list) -}}
{{- if and $cluster.bootstrap.createAppUser $appSecret.name $appSecret.username $appSecret.password }}
{{- $escapedPass := replace $appSecret.password "'" "''" -}}
{{- $_ := set $scratch "items" (append (get $scratch "items") (printf "CREATE USER %s WITH PASSWORD '%s' CREATEDB;" $appSecret.username $escapedPass)) -}}
{{- $_ := set $scratch "items" (append (get $scratch "items") (printf "GRANT CREATE ON DATABASE %s TO %s;" $cluster.bootstrap.database $appSecret.username)) -}}
{{- $_ := set $scratch "items" (append (get $scratch "items") "CREATE SCHEMA IF NOT EXISTS public;") -}}
{{- $_ := set $scratch "items" (append (get $scratch "items") (printf "GRANT ALL PRIVILEGES ON SCHEMA public TO %s;" $appSecret.username)) -}}
{{- end }}
{{- range $sql := $cluster.bootstrap.extraSQL }}
{{- $_ := set $scratch "items" (append (get $scratch "items") $sql) -}}
{{- end }}
{{- $postSql := get $scratch "items" -}}
{{- if gt (len $postSql) 0 }}
      postInitSQL:
{{- range $sql := $postSql }}
        - {{ $sql | quote }}
{{- end }}
{{- end }}
{{- if $cluster.affinity }}
  affinity:
{{ toYaml $cluster.affinity | nindent 4 }}
{{- end }}
{{- end }}
